<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BillingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="True"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="dbcs" connectionString="Server=DESKTOP-GJBN1NF\SQLEXPRESS;Initial Catalog=BillingSystem;Integrated Security=True;Trusted_Connection=True"
      providerName="System.Data.SqlClient" />
    <add name="BillingSystem.Properties.Settings.dbcs" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\EBDB.mdf;Integrated Security=True;Trusted_Connection=True" />
    <add name="BillingSystem.Properties.Settings.BillingSystemConnectionString"
      connectionString="Data Source=DESKTOP-GJBN1NF\SQLEXPRESS;Initial Catalog=BillingApp;Integrated Security=True" />
  </connectionStrings>
  <userSettings>
    <BillingSystem.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="RPATH" serializeAs="String">
        <value />
      </setting>
      <setting name="RNAME" serializeAs="String">
        <value />
      </setting>
      <setting name="BPATH" serializeAs="String">
        <value />
      </setting>
      <setting name="BNAME" serializeAs="String">
        <value />
      </setting>
    </BillingSystem.Properties.Settings>
  </userSettings>
</configuration>
